[core]
    editor = "nvim"
	excludesfile = ~/.gitignore_global
    ; pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    side-by-side = true

[user]
	name = Shih-Ming Wang
	email = swang150@ucsc.edu

[includeIf "gitdir:android/"]
    path = .gitconfig_android

[diff]
    ; tool = nvr
    ; colorMoved = default
    tool = kitty
    guitool = kitty.gui

[difftool "nvr"]
    cmd = nvr -s -d $LOCAL $REMOTE

[difftool]
    prompt = false
    trustExitCode = true
[difftool "kitty"]
    cmd = kitty +kitten diff $LOCAL $REMOTE
[difftool "kitty.gui"]
    cmd = kitty kitty +kitten diff $LOCAL $REMOTE

[merge]
    tool = nvr

[mergetool "nvr"]
    cmd = nvr -s -d $LOCAL $BASE $REMOTE $MERGED -c 'wincmd J | wincmd ='

[alias]
	st = status
	cm = commit
    co = checkout
[push]
	default = simple
[credential]
	helper = cache
[color]
	ui = auto
[pull]
	rebase = true
[branch]
	autosetuprebase = always
[repo]
	superprojectChoiceExpire = 1632773868
	superprojectChoice = true
[credential "https://github.com"]
	helper =
	helper = !$HOME/.pyenv/versions/miniconda3-latest/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !$HOME/.pyenv/versions/miniconda3-latest/bin/gh auth git-credential
