[core]
    editor = "nvim"
	excludesfile = ~/.gitignore_global
[user]
	name = Shih-Ming Wang
	email = swang150@ucsc.edu

[includeIf "gitdir:android/"]
    path = .gitconfig_android

[diff]
    tool = diff-so-fancy

[alias]
	st = status
	cm = commit
    co = checkout
[push]
	default = simple
[diff]
    tool = "vimdiff"
[credential]
	helper = cache
[color]
	ui = auto
[pull]
	rebase = true
[branch]
	autosetuprebase = always
