xterm*dynamicColors:    true
xterm*utf8:             2
xterm*eightBitInput:    false
xterm.termName: xterm-256color
Xcursor.size: 20

xterm*faceName: Hack Nerd Font Mono:style=Regular
xterm*faceSize: 16

! double-click to select whole URLs :D
xterm*charClass: 33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48

! Every shell is a login shell by default (for inclusion of all necessary environment variables)
xterm*loginshell: true

! scrollbar
xterm*rightScrollBar: true
xterm*ScrollBar: true
xterm*savelines: 16384
xterm*scrollTtyOutput: true

xterm*background:       #282828
xterm*foreground:       #bcbcbc

! fix backspace
xterm.vt100.backarrowKey: false
xterm.ttyModes: erase ^?

! 'Alt' send escape
xterm.vt100.metaSendsEscape: true

! copy/paste
xterm*vt100.translations: #override \
    Shift Ctrl <Key> C: copy-selection(CLIPBOARD) \n\
    Shift Ctrl <Key> V: insert-selection(CLIPBOARD)

! font size
xterm*vt100.Translations: #override \
    Ctrl <Key> minus: smaller-vt-font() \n\
    Ctrl <Key> plus: larger-vt-font() \n\
    Ctrl <Key> 0: set-vt-font(d)
