/config/karabiner/assets/
/config/karabiner/automatic_backups/

/config/nvim/autoload
/config/nvim/bundle
/config/nvim/undo
/config/nvim/sessions
/config/nvim/plugin
/config/pudb/saved-breakpoints*
/config/nvim/.netrwhist
/config/qutebrowser/autoconfig.yml
/config/qutebrowser/qsettings/


/home_config/.vim/autoload
/home_config/.vim/bundle
/home_config/.vim/undo
/home_config/.vim/sessions
/home_config/.vim/.netrwhist
/home_config/.vim/view
/home_config/.termux/shell

/home_config/.ipython
!/home_config/.ipython/profile_default
/home_config/.ipython/profile_default/*
!/home_config/.ipython/profile_default/startup
