snippet ing
#include "`!v ClientRoot()`/${0}"
endsnippet

snippet todo "// TODO"
// TODO(`echo $USER`): {0:todo}
endsnippet

snippet inc "#include<>"
#include <${1:iostream}>
endsnippet

snippet inu "#include "
#include "${1:util.h}"
endsnippet
